supershop/Web References/erp53.com/WinRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WinReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Atntb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Aunb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Aupb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AComb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comp2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comp3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DefaultLA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compPH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompWeb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ULast" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UPH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UBD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UEM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WinRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WinRegResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WinRegSoapIn">
    <wsdl:part name="parameters" element="tns:WinReg" />
  </wsdl:message>
  <wsdl:message name="WinRegSoapOut">
    <wsdl:part name="parameters" element="tns:WinRegResponse" />
  </wsdl:message>
  <wsdl:portType name="WinRegistrationSoap">
    <wsdl:operation name="WinReg">
      <wsdl:input message="tns:WinRegSoapIn" />
      <wsdl:output message="tns:WinRegSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WinRegistrationSoap" type="tns:WinRegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WinReg">
      <soap:operation soapAction="http://tempuri.org/WinReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WinRegistrationSoap12" type="tns:WinRegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WinReg">
      <soap12:operation soapAction="http://tempuri.org/WinReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WinRegistration">
    <wsdl:port name="WinRegistrationSoap" binding="tns:WinRegistrationSoap">
      <soap:address location="https://live.erp53.com/acm/WinRegistration.asmx" />
    </wsdl:port>
    <wsdl:port name="WinRegistrationSoap12" binding="tns:WinRegistrationSoap12">
      <soap12:address location="https://live.erp53.com/acm/WinRegistration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>